[project]
	description = Google Test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Orgad Shaneh (orgads)
[access "refs/for/refs/*"]
	read = group user/Orgad Shaneh (orgads)
	push = group user/Orgad Shaneh (orgads)
	label-Code-Review = -2..+2 group user/Orgad Shaneh (orgads)
	label-Verified = -1..+1 group user/Orgad Shaneh (orgads)
	rebase = group user/Orgad Shaneh (orgads)
	removeReviewer = group user/Orgad Shaneh (orgads)
	submit = group user/Orgad Shaneh (orgads)
[access "refs/heads/*"]
	read = group user/Orgad Shaneh (orgads)
	create = group user/Orgad Shaneh (orgads)
	push = +force group user/Orgad Shaneh (orgads)
	pushMerge = group user/Orgad Shaneh (orgads)
[access "refs/tags/*"]
	push = +force group user/Orgad Shaneh (orgads)
	pushTag = group user/Orgad Shaneh (orgads)
	pushSignedTag = group user/Orgad Shaneh (orgads)
